version: '3'
services:
  frontend:
    image: sandkohler/test:frontend
    ports:
      - "8911:80"
    depends_on:
      - backend
  backend:
    image: sandkohler/test:backend
    ports:
      - "28011:8080"
    depends_on:
      - db
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "38911:5432"
